@charset "UTF-8";
#header {
  height: 100px;
  background-color: #ffe18e;
  display: flex; }

#header2 {
  height: 100px;
  background-color: #ffe18e;
  display: flex;
  align-items: center;
  justify-content: center; }

.formularios-inicio-sesion {
  margin-left: 20px;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center; }

#email {
  width: 500px;
  height: 35px;
  font-size: large; }

#contraseña {
  width: 500px;
  height: 35px;
  font-size: large; }

#boton-iniciar-sesion {
  width: 500px;
  height: 35px;
  margin-top: 50px;
  background-color: #ac0909;
  border: none;
  color: white;
  font-size: large;
  margin-bottom: 300px;
  transition: 0.3s; }

#boton-iniciar-sesion:hover {
  background-color: #580000;
  transform: scale(1.05, 1.05); }

#div_centro {
  margin-left: 350px;
  height: 70px;
  margin-top: 15px; }

#logo {
  height: 120px;
  display: flex;
  margin-left: 35px; }

.div_linksmenu {
  margin-left: 250px;
  margin-right: 20px; }

#categorias {
  margin-top: 5px; }

.linksmenu {
  font-size: 20px; }

#busqueda {
  align-content: center; }

.div_content {
  display: grid;
  margin-top: 20px;
  width: 700px; }

.column {
  float: left;
  width: 150px;
  display: grid;
  text-align: center;
  margin-left: 340px; }

.row {
  margin-top: 50px; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.img_body {
  height: 150px;
  width: 150px; }

footer {
  background-color: #a5a5a5; }

.center {
  text-align: center; }

.texto_footer {
  color: black;
  font-size: 20px; }

.footerinicio {
  margin-top: 300px; }

#textotitulo2 {
  height: 100px;
  background-color: #ffe18e;
  display: flex;
  align-items: center;
  justify-content: center; }

#boton-crear-cuenta {
  width: 500px;
  height: 35px;
  margin-top: 50px;
  background-color: #ac0909;
  border: none;
  color: white;
  font-size: large;
  margin-bottom: 300px;
  transition: 0.3s; }

#boton-crear-cuenta:hover {
  background-color: #580000;
  transform: scale(1.05, 1.05); }

#colocar-email {
  width: 500px;
  height: 35px;
  font-size: large; }

#colocar-contrasena {
  width: 500px;
  height: 35px;
  font-size: large; }

#confirmar-contrasena {
  width: 500px;
  height: 35px;
  font-size: large; }

#colocar-nombre-y-apellido {
  width: 500px;
  height: 35px;
  font-size: large; }

.formularios-crear-cuenta {
  margin-left: 20px;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center; }

#titulocontacto {
  font-weight: bold;
  font-size: 40px; }

#introducir-mensaje {
  width: 500px;
  height: 150px;
  font-size: large; }

#boton-enviar-mensaje {
  width: 508px;
  height: 35px;
  margin-top: 50px;
  background-color: #ac0909;
  border: none;
  color: white;
  font-size: large;
  margin-bottom: 300px;
  transition: 0.3s; }

#boton-enviar-mensaje:hover {
  background-color: #580000;
  transform: scale(1.05, 1.05); }

#titulo-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 100px; }

.p1 {
  display: flex;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px; }

.pizqder {
  width: 500px;
  padding: 50px; }

#video {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px; }

#tabla {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 200px; }

.todoelcuerpo {
  margin-top: 100px;
  justify-content: center;
  display: flex; }

.datos-contacto {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

body {
  background-color: #f0f0f0; }

@media screen and (min-width: 768px) {
  body {
    background-color: #f0f0f0; } }

.listas {
  display: flex; }

#titulodelfooter {
  display: flex;
  justify-content: center; }

.columnasfooter {
  display: flex;
  justify-content: space-around; }

.barranav {
  display: flex;
  align-items: center;
  background-color: #b93939;
  opacity: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between; }

ul {
  list-style-type: none; }

.linksnav {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  padding: 10px; }

#lireg, #liing, #licon, #liinf {
  padding: 10px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  font-weight: 300; }

.categoriesnsearch {
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  width: 40%;
  opacity: 100%;
  padding: 30px; }

#titulo-nombre-y-apellido {
  padding: 10px; }

#titulo-sexo {
  padding: 10px;
  margin-top: 20px; }

#titulomail {
  padding: 10px;
  margin-top: 20px; }

#pass {
  padding: 10px;
  margin-top: 20px; }

#confirm {
  padding: 10px;
  margin-top: 20px; }

h2 {
  padding: 10px;
  margin-top: 20px; }

#ctuser {
  padding: 35px;
  font-size: 50px; }

.table {
  margin-bottom: 200px; }

#lireg:hover {
  color: black; }

#liing:hover {
  color: black; }

#licon:hover {
  color: black; }

#liinf:hover {
  color: black; }

.fter {
  margin-top: 300px; }

.indexmain {
  width: 95%;
  max-width: 1000px;
  margin: 20px auto;
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px; }

#imgpiston {
  width: 300px;
  height: 300px; }

#imgcig {
  width: 300px;
  height: 300px; }

#imgbiela {
  width: 300px;
  height: 300px; }

#tcil {
  width: 300px;
  height: 300px; }

.bielas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px; }

.ciguenales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px; }

.pistones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center; }

.tapacilindro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center; }

select {
  margin-top: 5px;
  height: 30px; }
